* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F8FFFF;
    color: #000000;
}

.header h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #000;
}

main {
    flex: 1;
}

.navbar {
    background: #F8FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
}

.navbar img {
    height: 65px;
    width: auto;
    display: block;
}

.section {
    min-height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-white {
    background: #F8FFFF;
}

.section-grey {
    background: #E0E4E7;
}

.footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C3C3C;
    color: white;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.footer .copyright {
    font-weight: 200;
    margin: 0 1px;
}