* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F8FFFF;
    color: #000000;
}

.header h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: -0.1px;
    color: #000;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;   
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.section {
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-white {
    background: #F8FFFF;
}

.section-grey {
    background: #E0E4E7;
}

.footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C3C3C;
    color: white;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
}

.footer .copyright {
    font-weight: 200;
    margin: 0 2px;
}