* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #F8FFFF;
    color: #000000;
}

.header h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #000;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

.section {
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-white {
    background: #F8FFFF;
}

.section-grey {
    background: #E0E4E7;
}

.footer {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #3C3C3C;
    color: white;
}